.items-center.rounded-lg.shadow.sm:flex.bg-gray-800.border-gray-700
  - if pet.avatar.present?
    %a{href: url_for(pet.avatar), "data-caption" => "Caption Profile Pic", "data-fancybox" => "gallery-profile"}
      = image_tag pet.avatar, class: "mx-auto w-36 h-36 rounded border-solid" 
  - else
    %a{:href => "#"}
      %img.h-24.w-24.rounded-full.border-gray-600.border-4{:src => image_path('dog_paw.png')}/
    .p-5
      %h3.text-xl.font-bold.tracking-tight.text-white
        %a{:href => pet_path(pet.id)}= pet.name
        %span.text-base.italic.text-gray-400="(" + pet.species + ")"
      %span.text-gray-400= pet.breed