= form_with(model: current_selected.active_requests.find_by(receiver_id: @pet.id), html: { method: :delete }, local: true) do |f| 
  .flex.items-center.justify-center
    .w-4.h-4.bg-blue-700.rounded-full.hover:rounded-lg.hover:w-auto.hover:h-auto
      %button.opacity-0.hover:opacity-100.text-white.px-2 
        = f.submit "Delete Request", class: "btn"