%section.bg-gray-900.min-h-screen
  .flex.flex-col.items-center.justify-center.px-4.py-8.mx-auto.lg:py-0
    %h3.text-white.text-4xl.text-center.py-5 Explore and find other pets
    .w-full.rounded-lg.shadow.border.md:mt-0.sm:max-w-5xl.xl:p-0.bg-gray-800.border-gray-700
      .grid.gap-8.px-4.py-6.lg:py-10.md:grid-cols-2
        = render "pet_index"