%div.min-h-screen
  %h1.font-bold.text-4xl.m-10 WebPets
  %p Welcome to your pet's website

  - if owner_signed_in?
    = link_to "log out", destroy_owner_session_url, method: :delete
  - else 
    = link_to "sign in", new_owner_session_url

  