%section.bg-gray-900.min-h-screen.text-white
  - if owner_signed_in?
    = render "home_feed"
        
  - else
    = link_to "sign in", new_owner_session_url



:javascript

  const showComments = (id) =>{
    $("#comment-form-"+ id).toggle(500);
  }

