/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require "flowbite"
 *= require_self
 *= stub "active_admin"

 *= stub "foundation_emails"
 *= require_tree .
 */


.title {
  text-align: center;
  font-size: 30px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button-sessions {
  padding: 5px;
  background-color: blue;
  color: white;
}

.align-right {
  text-align: right;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.right-align {
  float: right;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #08a54f;
}
.off {
  color: #ccc;
}
.star {
  padding: 2px;
  font-size: 1.6em;
}

.input-group {
  width: 100%;
}

.button-send-review {
  background-color: #08a54f;
}

.button-send-review:hover {
  background-color: #049144;
}

.button-save-rate {
  background-color: #06325e;
}

.bg_logo_blue  {
  background-color: #06325e;
}

.button-save-rate:hover {
  background-color: #06325e;
}

.nav_dropdown_button {
  background-color: #08a54f;
}

.nav_dropdown_button:hover {
  background-color: #049144;
}

.toastui-calendar-time {
  height: 554px !important;
}

.cancellation_fee_checkbox:checked {
  background-color: #08a54f;
}

.cancellation_fee_checkbox:hover {
  background-color: #d1d5db;
}

.cancellation_fee_checkbox:checked:hover {
  background-color: #049144;
}

.select2-results__options {
  overflow-x: hidden;
}

.mapboxgl-canvas {
  width: 100% !important;
  height: 350px !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
}
.select2-container {
    float: right;
} .select2-search--inline {
    float: right !important;
    margin-bottom: -5px !important;
}

.remaining {
  color: black;
}

.read-more{
  color: green;
  text-decoration: underline;
  text-decoration-color: green;
}

.read-less{
  color: green;
  text-decoration: underline;
  text-decoration-color: green;
}

.button{
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: auto;
}

.button-edit{
  background-color: #08a54f;
}

.button-delete{
  background-color: darkred;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-group textarea {
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .footer2 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.qualification_bg {
  background-color: #eee;
}

.inline-display {
  display: inline;
}

.photos_img {
  aspect-ratio: 3/4;
  object-fit: contain;
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}


/*   
  .carousel-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .carousel-height {
    height: 13rem;
  }
  
  .range-width-70{
    width: 70%;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .list-inside {
    display: flex;
    flex-direction: column;
  }
  
  .indent_list {
    margin-left: 1.25rem;
  }
  
  @media only screen and (min-width: 768px) {
    .carousel-padding {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .carousel-height {
      height: 15rem;
    }
    .range-width-70{
      width: 75%;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  
  @media only screen and (min-width: 1068px) {
    .carousel-padding {
      padding-left: 3.5rem;
      padding-right: 3.5rem;
    }
    .carousel-height {
      height: 16rem;
    }
  }
  
  .mobile-align-center {
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .mobile-align-center {
      text-align: left;
    }
    .display-on-medium {
      display: table-cell;
    }
  }
  
  
  @media only screen and (min-width: 1268px) {
    .carousel-padding {
      padding-left: 6.5rem;
      padding-right: 6.5rem;
    }
    .carousel-height {
      height: 18rem;
    }
  }
  
  @media only screen and (min-width: 1668px) {
    .carousel-padding {
      padding-left: 9rem;
      padding-right: 9rem;
    }
    .carousel-height {
      height: 19rem;
    }
  
  }
  
  @media only screen and (min-width: 2000px) {
    .carousel-padding {
      padding-left: 15rem;
      padding-right: 15rem;
    }
    .carousel-height {
      height: 24rem;
    }
  }
  
  @media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .qualifications-input {
      -webkit-text-fill-color: #444444;
      -webkit-opacity:1;
      opacity: 1;
    }
    .qualifications-input-field:disabled {
      -webkit-text-fill-color: #444444; // 1. sets text fill to current `color` for safari 
      opacity: 1; // 2. correct opacity on iOS 
    }
  }
  
  .resize-textarea {
    resize: both;
    min-height: 40px;
    line-height: 20px;
  }
  
  .profile-photo {
    float: right;
    color: green;
    margin-left: 10px; // adjust the spacing as needed 
  }
  
  .checkfield-display {
    display: flex;
    flex-direction: row;
    line-height: 1.2;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .padding-left-5 {
    padding-left: 5px;
  }
  
  // Tooltip text 
  .tooltip .tooltiptext {
    visibility: hidden;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 120%;
    left: 50%; 
    margin-left: -190px;
   
    // Position the tooltip text - see examples below! 
    position: absolute;
    z-index: 1;
  }
  
  // Show the tooltip text when you mouse over the tooltip container 
  .tooltip.clicked .tooltiptext {
    visibility: visible;
  }
  
  .tooltip .tooltiptext-sessions {
    visibility: hidden;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    left: 50%; 
    margin-left: -190px;
   
    // Position the tooltip text - see examples below! 
    position: absolute;
    z-index: 1;
  }
  
  // Show the tooltip text when you mouse over the tooltip container 
  .tooltip.clicked .tooltiptext-sessions {
    visibility: visible;
  }
  
  
  
  @media (max-width: 800px) {
    .mobile-add-date {
      margin-top: 1rem;
      margin-left: 8px;
    }
  }
  
  .time-width {
    width: 45%;
  } */