%nav.bg-gray-900.border-gray-900.px-6.sm:px-4{:class => "py-2.5"}
  .container.flex.flex-wrap.justify-between.items-center.mx-auto
    %a.flex.items-center.lg:pl-0.pl-2{:href => root_path}
      %img.mr-3.h-14.md:h-9{:alt => "WebPets Logo", :src => image_path("logo.png")}/
      %span.self-center.text-2xl.font-semibold.whitespace-nowrap.text-white WebPets
    %button.inline-flex.items-center.py-2.pl-2.ml-3.text-sm.text-black.rounded-lg.md:hidden{"aria-controls" => "navbar-default", "aria-expanded" => "false", "data-collapse-toggle" => "navbar-default", :type => "button"}
      %span.sr-only Open main menu
      %svg.w-12.h-12{"aria-hidden" => "true", :fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
        %path{"clip-rule" => "evenodd", :d => "M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z", "fill-rule" => "evenodd"}
    #navbar-default.hidden.w-full.md:block.md:w-auto
      %ul.flex.flex-col.md:items-center.py-2.mt-4.rounded-lg.border.md:flex-row.md:space-x-8.md:mt-0.md:text-sm.md:font-medium.md:border-0.bg-gray-800.md:bg-gray-900.border-gray-700
        - if owner_signed_in?
          %li
            = link_to "Pets", pets_path, class:"block py-2 pr-4 pl-3 rounded md:border-0 md:p-0 text-gray-400 hover:text-white hover:bg-gray-700 hover:text-white hover:bg-transparent"
          %li
            = link_to "Sign out", destroy_owner_session_url, method: :delete, class:"block py-2 pr-4 pl-3 rounded md:border-0 md:p-0 text-gray-400 hover:text-white hover:bg-gray-700 hover:text-white hover:bg-transparent"
          %li
            = link_to "Account", owner_path(current_owner), class:"block py-2 pr-4 pl-3 rounded md:border-0 md:p-0 text-gray-400 hover:text-white hover:bg-gray-700 hover:text-white hover:bg-transparent"
        - else 
          %li
            = link_to "Sign in", new_owner_session_url, class:"block py-2 pr-4 pl-3 rounded md:border-0 md:p-0 text-gray-400 hover:text-white hover:bg-gray-700 hover:text-white hover:bg-transparent"
