%nav.bg-white.border-gray-200.px-6.sm:px-4.rounded.dark:bg-gray-900{:class => "py-2.5"}
  .container.flex.flex-wrap.justify-between.items-center.mx-auto.w-14.h-14
    %a.flex.items-center.lg:pl-0.pl-2{:href => root_path}
      %img.mr-3.object-scale-down.w-14.h-14.max-w-xs.md:h-9{:alt => "WebPets Logo", :src => image_path("logo.png")}/
    %button.inline-flex.items-center.py-2.pl-2.ml-3.text-sm.text-black.rounded-lg.md:hidden{"aria-controls" => "navbar-default", "aria-expanded" => "false", "data-collapse-toggle" => "navbar-default", :type => "button"}
      %span.sr-only Open main menu
      %svg.w-12.h-12{"aria-hidden" => "true", :fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
        %path{"clip-rule" => "evenodd", :d => "M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z", "fill-rule" => "evenodd"}
        